
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>EXPRESS Net Ninja</title>
        <link href='style.css' type='text/css' rel='stylesheet'>
    </head>
    <body>
        <div class='xcontainer'>
            <h2>Net Ninja Express Basic</h2>
            <a href='https://nidvar.github.io/notes_home'>Home</a>
            <ol>
                <li>Install express: 'npm install express'</li>
                <li>Require 'express' using require('express'). Store in a 'const'</li>
                <li>Create express app using 'express()'. Store in a 'const'.</li>
                <li>Listen for requests using: 'const_name.listen(port number)'</li>
                <li>Use a 'get' request on the express app. 'const_name.get()'</li>
                <li>const_name.get(url, (req,res)=>{
                        res.send(content)
                        // or
                        res.sendFile(absolute file path)
                        //or
                        res.sendFile(relative file path, {root:__dirname})
                    })
                </li>
                <li>Create multiple pages, add a navbar and add links.</li>
                <li>Use 'get' function on each URL.</li>
                <li>Pass a middleware through the 'use' function on the app. 'const_name.use((req,res)=>{
                    res.sendFile(path, {root:__dirname})})'
                </li>
                <li>Install EJS: 'npm install ejs', then set it to the app: 'const_name.set('view engine', 'ejs');</li>
                <li>const_name.set('views', 'folder name')</li>
                <li>Create 'blogs - about - New Blog' ejs files instead of html files: 'index.ejs'</li>
                <li>Render 'the view' within the 'get' function: res.render(name of file)</li>
                <li>Pass title to the pages: const_name.get(url,(req, res)=>{res.render(filename, {title: name})})</li>
                <li>Use title: <%= title %></li>
                <li>Add blogs to the 'home page': const blogs =[{title:...,snippet:...},{''},{''}]</li>
                <li>Render it: res.render(page, {title:name, blogs:blogs})</li>
                <li>Inside 'home page', check to see if there are blogs before rendering them: <% if(blogs.length>0){%>
                    
                <%}%> 
                </li>
                <li></li>
            </ol>
        </div>
    </body>
    </html>